main {
  position: absolute;
  right: 5svw;
  top: 7.5svh;
  width: 73svw;
  height: 85svh;
  border: 2px solid #d9d9d9;
  border-radius: 50px;

  display: flex;
  padding: 70px 100px;
  padding-right: 0;
  padding-bottom: 0;
  justify-content: left;

  @media screen and (max-width: 768px) {
    // position: relative;
    width: 90svw;
    top: 12svh;
    flex-direction: column;
    padding: 30px;
  }

  h3 {
    color: gray;
    cursor: pointer;

    &:hover {
      color: black;
    }

    &:active {
      color: gray;
    }
  }

  .contents {
    margin-left: 50px;
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;

    @media screen and (max-width: 768px) {
      margin: 50px 0;
      width: auto;
    }

    &::-webkit-scrollbar {
      // display: none;
      width: 30px;
    }

    &::-webkit-scrollbar-track {
      background-color: white;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #d9d9d9;
      border-radius: 300px;
      border: 10px solid white;
    }

    .flexs {
      display: flex;
      justify-content: space-between;
      width: 90%;
    }

    .buttons {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-left: -10svw;

      button {
        background-color: #98DD9B;
        color: black;
        border: none;
        padding: 5px 10px;
        border-radius: 30px;
        font-weight: bold;
        font-size: 16px;
      }

      .set_target {
        cursor: pointer;

        &:hover {
          background-color: darken($color: #98DD9B, $amount: 5%);
        }
      }
    }

    .second {
      width: calc(100% - 10svw);
      height: 30svw;
      margin-top: 12svh;
      position: absolute;
      left: 100px;
      justify-content: space-between;

      @media screen and (max-width: 768px) {
        margin-top: 2svh;
        left: 50%;
        margin-left: calc(5svw - 50%);
      }

      .nodes {
        display: flex;
        justify-content: center;

        .between {
          display: flex;
          justify-content: center;

          &::-webkit-scrollbar {
            width: 30px;
          }

          &::-webkit-scrollbar-thumb {
            background-color: #d9d9d9;
            border-radius: 300px;
            border: 5px solid white;
          }

          .node {
            padding: 20px;
            padding-top: 0;
            display: flex;
            flex-direction: column;
            align-items: center;

            p {
              font-size: 25px;
              color: gray;
              font-weight: bold;
              margin-bottom: 20px;
            }

            img {
              min-width: 64svw;
              max-width: 64svh;
              // min-height: 48svw;
              max-height: 48svh;
              background-color: lightgray;
              border-radius: 20px;

              @media screen and (max-width: 768px) {
                max-width: 80svw;
                max-height: 60svw;
              }
            }
          }
        }

        button {
          background-color: #98DD9B;
          color: black;
          border: none;
          padding: 5px 10px;
          border-radius: 30px;
          font-weight: bold;
          font-size: 16px;
          margin-top: 30px;
          cursor: pointer;

          &:hover {
            background-color: darken($color: #98DD9B, $amount: 5%);
          }
        }
      }

      .img {
        width: 64svh;
        height: 48svh;
        min-width: 400px;
        min-height: 300px;

        img {
          width: 100%;
          height: 100%;
          background-color: lightgray;
          border-radius: 20px;
        }
      }
    }
  }
}

.popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100svw;
  height: 100svh;
  z-index: 4;
  background-color: #0000007c;
}

.popupcontent {
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 50%;
  display: flex;
  padding: 50px;
  border-radius: 20px;
  width: 50svw;
  height: 50svh;
  /* width의 50% */
  margin-left: -25svw;
  margin-top: -25svh;
  background-color: white;

  justify-content: space-between;

  h2 {
    color: gray;
    cursor: pointer;
  }

  button {
    height: max-content;
    padding: 10px 30px;
    cursor: pointer;
  }

  .submits {
    margin: 20px;
    // height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: lightgray;
    border-radius: 30px;

    .option {
      margin: 5px;
      padding: 10px 30px;
      border-radius: 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 20px;
      cursor: pointer;
    }

    .choose {
      background-color: #98DD9B;
    }

  }

  .column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100px;

    input {
      padding: 10px 20px;
      background-color: white;
      color: black;
      border-radius: 20px;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
  }
}