main {
  position: absolute;
  right: 5svw;
  top: 7.5svh;
  width: 73svw;
  height: 85svh;
  border: 2px solid #d9d9d9;
  border-radius: 50px;

  display: flex;
  padding: 70px 100px;
  padding-right: 0;
  padding-bottom: 0;
  justify-content: left;

  h3 {
    color: gray;
    cursor: pointer;

    &:hover {
      color: black;
    }

    &:active {
      color: gray;
    }
  }

  .content {
    width: 78%;
    margin-left: 50px;
    margin-top: 50px;
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 30px;
    }

    &::-webkit-scrollbar-track {
      background-color: white;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #d9d9d9;
      border-radius: 300px;
      border: 10px solid white;
    }

    .add {
      font-size: 50px;
      min-width: 70px;
      min-height: 70px;
      cursor: pointer;
      background-color: white;
      color: black;
      border: 1px solid gray;
      border-radius: 20px;
      margin-bottom: 30px;

      &:hover {
        background-color: darken($color: white, $amount: 5%);
      }

      &:active {
        background-color: white;
      }
    }
  }
}

.pot {
  width: 100%;
  border: 1px solid gray;
  min-height: 150px;
  border-radius: 40px;
  padding: 40px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .flex {
    display: flex;
  }

  .middle {
    margin-top: 5px;

    input {
      background-color: white;
      color: black;
      width: 400px;
    }

    a {
      &:hover {
        text-decoration: underline;
      }
    }

    .status {
      display: flex;

      span {
        margin-right: 10px;
      }

      .red {
        width: 20px;
        height: 20px;
        background-color: red;
        border-radius: 50px;
      }

      .green {
        width: 20px;
        height: 20px;
        background-color: green;
        border-radius: 50px;
      }
    }
  }

  .profile {
    background-color: #e6e6e6;
    width: 100px;
    height: 100px;
    margin-right: 20px;
    border-radius: 20px;
  }

  .edit {
    display: flex;
    flex-direction: column;

    .del {
      font-size: 35px;
      color: black;
      font-weight: bolder;
    }

    button {
      background-color: white;
      border-radius: 10px;
      padding: 5px;
      cursor: pointer;

      &:hover {
        background-color: darken($color: white, $amount: 5%);
      }

      &:active {
        background-color: white;
      }
    }
  }
}

.popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100svw;
  height: 100svh;
  z-index: 4;
  background-color: #0000007c;
}

.popupcontent {
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 50%;
  display: flex;
  padding: 50px;
  border-radius: 20px;
  width: 50svw;
  height: 50svh;
  /* width의 50% */
  margin-left: -25svw;
  margin-top: -25svh;
  background-color: white;

  justify-content: space-between;

  h2 {
    color: gray;
    cursor: pointer;
  }

  button {
    height: max-content;
    padding: 10px 30px;
    cursor: pointer;
  }

  .submit {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    input {
      margin-top: 10px;
      width: 25svw;
      background-color: white;
      color: black;
      border: 1px solid gray;
      border-radius: 20px;
      padding: 10px 20px;
    }

    .error {
      color: red;
    }
  }
}